<!doctype html>
<html lang="en">
  <head>
    <title>Jose Reyes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="">
    <meta name="keywords" content="html, css, javascript, jquery">
    <meta name="author" content="">

    <link href="../static/greenLant.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="static/css/vendor/icomoon/style.css">
    <link rel="stylesheet" href="static/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/vendor/animate.min.css">
    <link rel="stylesheet" href="static/css/vendor/aos.css">
    <link rel="stylesheet" href="static/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/vendor/jquery.fancybox.min.css">
    

    <!-- Theme Style -->
    <link rel="stylesheet" href="static/css/style.css">

  </head>
  <body data-spy="scroll" data-target=".site-nav-target" data-offset="200">

    <nav class="unslate_co--site-mobile-menu">
      <div class="close-wrap d-flex">
        <a href="#" class="d-flex ml-auto js-menu-toggle">
          <span class="close-label">Close</span>
          <div class="close-times">
            <span class="bar1"></span>
            <span class="bar2"></span>
          </div>
          
        </div>
        </a>
      </div>
      <div class="site-mobile-inner"></div>
    </nav>


    <div class="unslate_co--site-wrap">

      <div class="unslate_co--site-inner">

        <div class="lines-wrap">
          <div class="lines-inner">
            <div class="lines"></div>
          </div>
        </div>
        <!-- END lines -->
      
      <nav class="unslate_co--site-nav site-nav-target">

        <div class="container">
        
          <div class="row align-items-center justify-content-between text-left">
            <div class="col-md-5 text-right">
              <ul class="site-nav-ul js-clone-nav text-left d-none d-lg-inline-block">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li><a href="#portfolio-section" class="nav-link">Portfolio</a></li>
                <li><a href="#about-section" class="nav-link">About</a></li>
                <li><a href="#services-section" class="nav-link">Services</a></li>
              </ul>
            </div>
            
            <div class="site-logo pos-absolute">
              <a href="index.html" class="unslate_co--site-logo">Jose Reyes<span>.</span></a>
            </div>
            <div class="col-md-5 text-right text-lg-left">
              <ul class="site-nav-ul js-clone-nav text-left d-none d-lg-inline-block">
                <li><a href="#skills-section" class="nav-link">Skills</a></li>
                <li><a href="#contact-section" class="nav-link">Contact</a></li>
              </ul>

              <ul class="site-nav-ul-none-onepage text-right d-inline-block d-lg-none">
                <li><a href="#" class="js-menu-toggle">Menu</a></li>
              </ul>
              
            </div>
            </div>
          
        </div>
        <div class="counter-number nav-item nav-link text-white-50 font-os font-size-16 active">
          Couldn't read views

      </nav>
      <!-- END nav -->

      <div class="cover-v1 jarallax" style="background-image: url('static/images/Profile.jpeg');" id="home-section">
        <div class="container">
          <div class="row align-items-center">
              
            <div class="col-md-7 mx-auto text-center">
              <h1 class="heading gsap-reveal-hero">Reyes</h1>
              <h2 class="subheading gsap-reveal-hero">I’m Jose Reyes A Linux System Administrator Based In Washington D.C</h2>
            </div>

          </div>
        </div>


        <a href="#portfolio-section" class="mouse-wrap smoothscroll">
          <span class="mouse">
            <span class="scroll"></span>
          </span>
          <span class="mouse-label">Scroll</span>
        </a>

      </div>
      <!-- END .cover-v1 -->


      <div class="unslate_co--section" id="portfolio-section">
        <div class="container">
          
          
          <div class="relative"><div class="loader-portfolio-wrap"><div class="loader-portfolio"></div></div> </div>
          <div id="portfolio-single-holder"></div>

          <div class="portfolio-wrapper">

            <div class="d-flex align-items-center mb-4 gsap-reveal gsap-reveal-filter">
              <h2 class="mr-auto heading-h2"><span class="gsap-reveal">Portfolio</span></h2>

               <a href="#" class="text-white js-filter d-inline-block d-lg-none">Filter</a>
              
              <div class="filter-wrap">
                <div class="filter ml-auto" id="filters">
                  <a href="#" class="active" data-filter="*">All</a>
                  <a href="#" data-filter=".python">Python</a>
                  <a href="#" data-filter=".linux">Linux</a>
                  <a href="#" data-filter=".java">Java</a>
                  <a href="#" data-filter=".devops">Devops</a>
                  <a href="#" data-filter=".certificates">Certificates</a>
                </div>
              </div> 
            </div>


            
            <div id="posts" class="row gutter-isotope-item">
              <div class="item java col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="https://github.com/Khakipapi/BlackJack_Sim-Capstone_Project" class="portfolio-item isotope-item gsap-reveal-img">
                    <div class="overlay">
                      <span class="wrap-icon icon-link2"></span>
                      <div class="portfolio-item-content">
                        <h3>BlackJack Simulator</h3>
                        <p>Java, Agile, Kanban, CSS, HTML, Git, GitHub, IntelliJ IDEA, Object-Oriented Programming</p>
                      </div>
                    </div>
                    <img src="static/images/portfolio_blackjack.png" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>
              

              <div class="item python col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="https://github.com/Khakipapi/hacker-news-web-scraping/tree/master" class="portfolio-item isotope-item gsap-reveal-img" >
                    <div class="overlay">
                      <span class="wrap-icon icon-link2"></span>
                      <div class="portfolio-item-content">
                        <h3>Web scraping</h3>
                        <p>Python, Cybersecurity</p>
                      </div>
                    </div>
                    <img src="static/images/hackerScrap.jpg" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>

              <div class="item linux col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="https://github.com/Khakipapi/Linux_Hogwarts_directory_management" class="portfolio-item isotope-item gsap-reveal-img" data-caption="Linux directory management">
                    <div class="overlay">
                      <span class="wrap-icon icon-photo2"></span>
                      <div class="portfolio-item-content">
                        <h3>Linux directory management</h3>
                        <p>Ubuntu, Linux, Command Line</p>
                      </div>
                    </div>
                    <img src="static/images/Linux_Hogwarts.png" class="lazyload  img-fluid" alt="Images" />
                  </a>

              </div>

              <div class="item devops col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="https://github.com/Khakipapi/my-cloud-resume-site" class="portfolio-item isotope-item gsap-reveal-img" data-caption="Website using AWS">
                    <div class="overlay">
                      <span class="wrap-icon icon-photo2"></span>
                      <div class="portfolio-item-content">
                        <h3>Deployed Website using AWS</h3>
                        <p>AWS, DynamoDB, S3, CloudFront, Lambda, Route 53, HTML, CSS, JavaScript, Github Actions, Terraform </p>
                      </div>
                    </div>
                    <img src="static/images/StaticWebsiteAwspic.png" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>

              <div class="item certificates col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="https://www.credly.com/badges/ebe1cf4a-a0d5-4697-bbff-453afa7d805b/public_url" class="portfolio-item isotope-item gsap-reveal-img" data-caption="Certificates">
                    <div class="overlay">
                      <span class="wrap-icon icon-photo2"></span>
                      <div class="portfolio-item-content">
                        <h3>google-cybersecurity-professional-certificate-v2</h3>
                        <p>Certificates</p>
                      </div>
                    </div>
                    <img src="static/images/google-cybersecurity-professional-certificate-v2.png" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>
              <div class="item certificates col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="https://www.credly.com/badges/bbbbb849-6f56-41cc-970f-e3b1d771a917/public_url" class="portfolio-item isotope-item gsap-reveal-img"  data-caption="Certificates">
                    <div class="overlay">
                      <span class="wrap-icon icon-photo2"></span>
                      <div class="portfolio-item-content">
                        <h3>aws-certified-cloud-practitioner</h3>
                        <p>Certificates</p>
                      </div>
                    </div>
                    <img src="static/images/aws-certified-cloud-practitioner.png" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>

            </div>
            
          </div>


        </div>
      </div>


      <div class="unslate_co--section">
        <div class="container">
          <div class="owl-carousel logo-slider">
            <div class="logo-v1 gsap-reveal">
              <img src="static/images/pythonLogo.png" alt="Image" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="static/images/Linux.png" alt="Image" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="static/images/AWS.png" alt="Image" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="static/images/Java.png" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
      </div>


      <div class="unslate_co--section" id="about-section">
        <div class="container">
          
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">About Me</span></h2>
            <span class="gsap-reveal">
            <img src="static/images/divider.png" alt="divider" width="76">
            </span>
          </div>
          

          <div class="row mt-5 justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0">
              <figure class="dotted-bg gsap-reveal-img ">
                <img src="static/images/Profile.jpeg" alt="Image" class="img-fluid">
              </figure>
            </div>
            <div class="col-lg-4 pr-lg-5">
              <h3 class="mb-4 heading-h3"><span class="gsap-reveal">Jose Reyes | Cloud Engineering | Cybersecurity | Systems Administration</span></h3>
              <p class="lead gsap-reveal">Hi, I'm Jose Reyes—a U.S. Army veteran and Computer Science graduate with hands-on experience in cloud engineering, cybersecurity, and systems administration. My expertise includes managing AWS cloud infrastructure, implementing robust security measures, and automating operations to boost efficiency. I thrive in roles where I can leverage my military discipline, technical skills, and dedication to continuous learning. I'm actively looking to contribute as a Cloud Engineer, DevOps specialist, or System Administrator. Let's connect—I’d love to discuss how my background can help your team succeed! </p>
              <p class="gsap-reveal"><a href="Jose_Reyes_Resume.html" download="Jose_Reyes_Resume.odt" class="btn btn-outline-pill btn-custom-light">Download my CV</a></p>
            
          </div>
        </div>
        
      </div>

      <div class="unslate_co--section" id="services-section">
        <div class="container">

          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">My Services</span></h2>
            <span class="gsap-reveal"><img src="static/images/divider.png" alt="divider" width="76"></span>
          </div>

          <div class="row gutter-v3">
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
                <div class="wrap-icon mb-3">
                  <img src="static/images/svg/001-options.svg" alt="Image" width="45">
                </div>
                <h3>Linux <br> System Administration</h3>
                <p>I provide expert Linux system administration, including server setup, optimization, monitoring, and troubleshooting</p>
              </div> 
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="100">
                <div class="wrap-icon mb-3">
                  <img src="static/images/svg/002-chat.svg" alt="Icon" width="45">
                </div>
                <h3>Python</h3>
                <p>I develop efficient Python scripts and applications for automation, data processing, and backend development.</p>
              </div> 
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="200">
                <div class="wrap-icon mb-3">
                  <img src="static/images/svg/003-contact-book.svg" alt="Image" class="img-fluid" width="45">
                </div>
                <h3>Java <br> Experience</h3>
                <p>I deliver robust Java solutions for application development, software integration, and performance optimization</p>
              </div> 
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
                <div class="wrap-icon mb-3">
                  <img src="static/images/svg/004-percentage.svg" alt="Image" width="45">
                </div>
                <h3>AWS</h3>
                <p>I design, deploy, and manage secure, scalable AWS cloud solutions to improve performance, reliability, and cost-efficiency.</p>
              </div> 
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="100">
                <div class="wrap-icon mb-3">
                  <img src="static/images/svg/006-goal.svg" alt="Image" width="45">
                </div>
                <h3>Cybersecurity</h3>
                <p>I implement cybersecurity best practices, including vulnerability assessments, system hardening, and compliance monitoring.</p>
              </div> 
            </div>
        

          </div>
        </div>
      </div>

      <div class="unslate_co--section section-counter" id="skills-section">
        <div class="container">
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">My Skills</span></h2>
            <span class="gsap-reveal"><img src="static/images/divider.png" alt="divider" width="76"></span>
          </div>


          <div class="row pt-5">
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="0">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="95">0</span>
                  <span class="append-text">%</span>
                </span>
                <span class="counter-label">Linux</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="99">0</span>
                  <span class="append-text">%</span>
                </span>
                <span class="counter-label">AWS</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="90">0</span>
                  <span class="append-text">%</span>
                </span>
                <span class="counter-label">Java</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <span class="number number-counter" data-number="100">0</span>
                  <span class="append-text">%</span>
                </span>
                <span class="counter-label">Python</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END .counter -->

     


      <div class="unslate_co--section" id="contact-section">
        <div class="container">
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">Get In Touch</span></h2>
            <span class="gsap-reveal"><img src="static/images/divider.png" alt="divider" width="76"></span>
          </div>


          <div class="row justify-content-between">
            
            <div class="col-md-6">
              <form action="/submit_form" method="post" class="form-outline-style-v1" id="contactForm">
                <div class="form-group row mb-0">

                  <div class="col-lg-6 form-group gsap-reveal">
                    <label for="name">Name</label>
                    <input name="name" type="text" class="form-control" id="name" required>
                  </div>
                  <div class="col-lg-6 form-group gsap-reveal">
                    <label for="email">Email</label>
                    <input name="email" type="email" class="form-control" id="email" required>
                  </div>
                  <div class="col-lg-6 form-group gsap-reveal">
                    <label for="email">Subject</label>
                    <input name="subject" type="text" class="form-control" id="subject" required>
                  </div>
                  <div class="col-lg-12 form-group gsap-reveal">
                    <label for="message">Write your message...</label>
                    <textarea name="message" id="message" cols="30" rows="7" class="form-control" required></textarea>
                  </div>
                </div>
                <div class="form-group row gsap-reveal">
                    <div class="col-md-12 d-flex align-items-center">
                      <input type="submit" class="btn btn-outline-pill btn-custom-light mr-3" value="Send Message">
                      <span class="submitting"></span>
                    </div>
                  </div>
              </form>
              <div id="form-message-warning" class="mt-4"></div> 
              <div id="form-message-success">
                Your message was sent, thank you!
              </div>

            </div>

            <div class="col-md-4">
              <div class="contact-info-v1">
                <div class="gsap-reveal d-block">
                  <span class="d-block contact-info-label">Email</span>
                  <a href="#" class="contact-info-val">Jose.reyesfabian@gmail.com</a>
                </div>
                <div class="gsap-reveal d-block">
                  <span class="d-block contact-info-label">Phone</span>
                  <a href="#" class="contact-info-val">+1 202 904 3851</a>
                </div>
                <div class="gsap-reveal d-block">
                  <span class="d-block contact-info-label">Address</span>
                  <address class="contact-info-val">Inlet St. <br> New Carrollton, MD 20784</address>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      </div> <!-- END .unslate_co-site-inner -->

      <footer class="unslate_co--footer unslate_co--section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-7">
              
              <div class="footer-site-logo"><a href="#">Jose Reyes<span>.</span></a></div>
              <div class="footer-social">
                <a href="https://www.linkedin.com/in/jose-reyes31/" target="_blank" class="icon-linkedin"></a>
                <a href="https://github.com/Khakipapi" target="_blank" class="icon-github"></a>
                <a href="https://www.instagram.com/jose_bjj_journey/" target="_blank" class="icon-instagram"></a>
                <a href="https://www.facebook.com/ChristSoldier31/" target="_blank" class="icon-facebook"></a>
              </div>
              </div>

              <p class="site-copyright">
                
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script> All rights reserved | This template is made with <i class="icon-heart"
                  aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              
              </p>

            </div>
          </div>
        </div>
      </footer>

      
    </div>

    
    <!-- Loader -->
    <div id="unslate_co--overlayer"></div>
    <div class="site-loader-wrap">
      <div class="site-loader"></div>
    </div>

    <script src="static/js/scripts-dist.js"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/index.js"></script>

  </body>
</html>